.entradas {
    padding: $separacion 0;
    h3 {
        text-align: center;
        color: $blanco;
    }
}
.contenedor-entradas {
    @include tablet {
        display: flex;
        justify-content: center;
        gap: $separacion;
    }

    .basico,
    .premium {
        width: 100%;
    }

    table {
        width: 100%;
        border-spacing: 0;
    }
    p {
        text-align: center;
        span {
            text-transform: uppercase;
            font-weight: $delgada;
            color: $blanco;
            font-size: 1.8rem;
        }
    }
    .titulo-pase {
        color: $blanco;
        font-size: 2rem;
    }
    th {
        background-color: $rosa;
    }
    td {
        background-color: $blanco;
        border-bottom: 1px solid #e1e1e1;
    }

    .table-footer {
        background-color: $morado;
        color: $blanco;
        text-align: center;
        font-weight: $bold;
        font-size: 2rem;
        border-bottom: none;
    }
}
